body {
    overflow-x: hidden;
}

.container {
    position: static;
    top: 0px;
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.navbar {
    position: static;
    display: flex;
    z-index: 1;
    align-items: center;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    background-color: rgb(236, 232, 226);
    box-shadow: 0 1px 7px rgb(129, 25, 91);
}

.navbar .navright {
    opacity: 0;
    padding-right: 50px;
}

.navbar .navright a {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 50px;
}

.navright a:hover {
    color: rgb(129, 25, 91);
}

.navbar .navright a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -7px;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.navbar .navright a:hover::after {
    width: 100%;
    left: 0;

}

.navbar .navleft {
    color: rgb(129, 25, 91);
    padding-left: 50px;
}

.navbar .navright img {
    height: 25px;
    width: 30px;
    display: none;
}

@media (max-width: 800px) {
    .navbar .navright img {
        display: block;
    }

    .navbar {
        padding-inline-start: 20px;
        padding-inline-end: 13px;
    }

    .navbar .navright a {
        display: none;
    }
}

.responsive {
    position: static;
}

.responsive .navright {
    position: absolute;
    width: 100%;
    background-color: rgb(236, 232, 226);
}

.responsive .navleft {
    background-color: rgb(236, 232, 226);
    color: rgb(129, 25, 91);
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 1px;
}

.responsive .navright img {
    position: absolute;
    top: -62px;
    right: 30px;
}

.responsive .navright a {
    margin-right: 15px;
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    border-style: solid;
    border-color: rgb(252, 252, 252);
    background-color: rgb(236, 232, 226);
    border-width: 1px;
    text-decoration: none;
}

#blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        color: transparent;
    }

    33% {
        color: rgb(255, 3, 3);
    }

    66% {
        color: transparent;
    }

    100% {
        color: rgb(255, 1, 1);
    }

}

.first {
    position: static;
}

.content {
    position: absolute;
    background-image: url(bridge-4456255_1920.jpg);
    background-size: cover;
    background-position: center;
    transform: scale(1, 1);
    transition: transform 3s;
    height: 90%;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 1;
    justify-content: space-around;
}

.name h1 {
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.name h3 {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.name #typing {
    color: rgb(255, 0, 0);
    font-size: 30px;
}

.photo img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.photo .image img {

    animation: rotateback 4s linear infinite;
}

.photo {
    position: relative;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid red;
    /* Adjust border properties as needed */
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid red;
    border-radius: 50%;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateback {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@media (max-width: 400px) {
    .navbar .navright {
        padding-right: 20px;
    }

    .navbar .navleft {
        padding-left: 0px;
    }

}

@media (max-width: 600px) {
    .navbar {
        height: 50px;
    }

    .content {
        flex-wrap: wrap;

    }
    .name h1 {
        font-size: 30px;
        
    }


    .photo img {
        max-width: 150px;
    }

    .name #typing {
        font-size: 20px;
    }

    .photo {
        width: 170px;
        height: 170px;
    }
}

@media (max-width: 376px) {
    .name h1 {
        font-size: 12px;
    }

    .name h3 {
        font-size: 20px;
    }
}

/* ////////////////////////////////////////// */

.second {
    position: relative;
    height: 0%;
    width: 0%;
    opacity: 0;
    z-index: 0;
    overflow: hidden;
    top: 0px;

}

.second .outer {
    margin-top: 50px;
}

.second .about h1 {
    margin-top: 50px;
    margin-left: 5%;
}

.second .outer .bwpic {
    flex: 0 1 40%;
    display: flex;
    opacity: 0;
    padding: 80px;
    transition: opacity 1s, padding 1s;
}

.second .outer .bwpic img {
    max-height: 90%;
    max-width: 100%;
    border-radius: 10px;

    height: auto;
    width: auto;
}

.second .outer {
    display: flex;
    flex-wrap: nowrap;
}

.second .outer .updownbox {
    flex: 0 1 60%;
}

.second .outer .updownbox .innerBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 40px;
}

.second .outer .updownbox .innerBox .leftBox {
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(129, 25, 91);
    color: black;
    font-size: 20px;
    flex: 0 1 55%;
    height: 20px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 7px;
    text-align: center;
    transition: height 2s;
}

.second .outer .updownbox .innerBox .rightBox {
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(129, 25, 91);

    color: black;
    margin-left: 7px;
    margin-right: 20px;
    flex: 0 1 55%;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    transition: height 2s;
}

.second .outer .updownbox .detail div {
    font-size: 18px;
    width: 40%;
    opacity: 1;
}

.second .outer .updownbox .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .second .about h1 {
        margin-left: 10px;
    }

    .second .outer .bwpic {
        flex: 0 1 100%;
    }

    .second .outer {
        display: block;
        flex-wrap: nowrap;
    }

    .second .outer {
        flex-wrap: wrap;
    }

    .second .outer .updownbox .innerBox {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .second .outer .updownbox .innerBox .rightBox {

        font-size: 18px;
        margin-left: 20px;
        margin-top: 7px;
        margin-bottom: 7px;
        flex: 0 3 100%;
    }

    .second .outer .updownbox .innerBox .leftBox {
        flex: 0 3 100%;

        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 7px;
        font-size: 18px;
    }

    .second .outer .updownbox {
        flex: 0 1 100%;
    }

    .second .outer .updownbox .detail div {
        font-size: 15px;
        overflow: hidden;
        width: 100%;
        margin-left: 50px;
    }
}

/* /////////////////////////////// */
.third {
    width: 100%;
    position: static;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: rgb(243, 240, 236);
}

.third .heading h1 {
    margin-left: 5%;
    margin-right: 5%;
}

.third .heading p {
    margin-left: 5%;
    margin-right: 5%;
}

.third .thirdInner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third .thirdInner .education {
    margin-left: 10%;
    width: 50%;
}

.third .thirdInner .project {
    margin-left: 10%;

    width: 50%;
}

.third .thirdInner .education .degree {
    opacity: 0;
    padding: 0 30px 20px 150px;
    width: fit-content;
    margin-top: -2px;
    border-left: 2px solid rgb(187, 97, 154);
    position: relative;
    background: linear-gradient(to right, rgb(240, 219, 232) 0%, rgb(243, 240, 236) 50%, rgb(243, 240, 236) 100%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    transition: opacity 1.5s, padding 1.5s;
}

.third .thirdInner .education .degree:hover {
    background-position: left bottom;
    color: #000000;
}

.degree::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -10px;
    top: 0;
    background: #fff;
    border: 2px solid rgb(187, 97, 154);
}

.third .thirdInner .education .twelve {
    opacity: 0;
    padding: 0 30px 20px 150px;
    width: fit-content;
    margin-top: -2px;
    border-left: 2px solid rgb(187, 97, 154);
    position: relative;
    background: linear-gradient(to right, rgb(240, 219, 232) 0%, rgb(243, 240, 236) 50%, rgb(243, 240, 236) 100%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    transition: opacity 1.5s, padding 1.5s;
}

.third .thirdInner .education .twelve:hover {
    background-position: left bottom;
    color: #000000;
}

.twelve::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -10px;
    top: 0;
    background: #fff;
    border: 2px solid rgb(187, 97, 154);
}

.third .thirdInner .education .ten {
    opacity: 0;
    padding: 0 30px 20px 150px;
    width: fit-content;
    margin-top: -2px;
    border-left: 2px solid rgb(187, 97, 154);
    position: relative;
    background: linear-gradient(to right, rgb(240, 219, 232) 0%, rgb(243, 240, 236) 50%, rgb(243, 240, 236) 100%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    transition: opacity 1.5s, padding 1.5s;
}

.third .thirdInner .education .ten:hover {
    background-position: left bottom;
    color: #000000;
}

.ten::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -10px;
    top: 0;
    background: #fff;
    border: 2px solid rgb(187, 97, 154);
}

.third .thirdInner .project .zomato {
    opacity: 0;
    padding: 0 30px 20px 150px;
    width: fit-content;
    margin-top: -2px;
    border-left: 2px solid rgb(187, 97, 154);
    position: relative;
    background: linear-gradient(to right, rgb(240, 219, 232) 0%, rgb(243, 240, 236) 50%, rgb(243, 240, 236) 100%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    transition: opacity 1.5s, padding 1.5s;
}

.third .thirdInner .project .zomato:hover {
    background-position: left bottom;
    color: #000000;
}

.zomato::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -10px;
    top: 0;
    background: #fff;
    border: 2px solid rgb(187, 97, 154);
}

.third .thirdInner .project .android {
    opacity: 0;
    padding: 0 30px 20px 150px;
    width: fit-content;
    margin-top: -2px;
    border-left: 2px solid rgb(187, 97, 154);
    position: relative;
    background: linear-gradient(to right, rgb(240, 219, 232) 0%, rgb(243, 240, 236) 50%, rgb(243, 240, 236) 100%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    transition: opacity 1.5s, padding 1.5s;
}

.third .thirdInner .project .android:hover {
    background-position: left bottom;
    color: #000000;
}

.android::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -10px;
    top: 0;
    background: #fff;
    border: 2px solid rgb(187, 97, 154);
}

.third .thirdInner .project .ecommerce {
    opacity: 0;
    padding: 0 30px 20px 150px;
    width: fit-content;
    margin-top: -2px;
    border-left: 2px solid rgb(187, 97, 154);
    position: relative;
    background: linear-gradient(to right, rgb(240, 219, 232) 0%, rgb(243, 240, 236) 50%, rgb(243, 240, 236) 100%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    transition: opacity 1.5s, padding 1.5s;
}

.third .thirdInner .project .ecommerce:hover {
    background-position: left bottom;
    color: #000000;
}

.ecommerce::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -10px;
    top: 0;
    background: #fff;
    border: 2px solid rgb(187, 97, 154);
}

@media (max-width: 800px) {
    .third .thirdInner {
        flex-wrap: wrap;
    }

    .third .thirdInner .education {
        margin-left: 5%;
        width: 100%;

    }

    .third .thirdInner .project {
        margin-left: 5%;
        width: 100%;
    }
}

/* ///////////////////////////////////////////////// */
.four {
    margin-top: 40px;
}

.four .head h1 {
    margin-left: 5%;
    margin-right: 5%;
}

.four .head p {
    margin-left: 5%;
    margin-right: 5%;
}

.graph {
    display: flex;
    flex-flow: row nowrap;
}

.html {
    width: 33%;
    justify-content: space-around;
}

.css {
    width: 33%;
    justify-content: space-around;
}

.js {
    width: 33%;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circlehtml {
    fill: none;
    stroke: #1fb554;
    stroke-width: 2.8;
    stroke-linecap: round;
    stroke-dasharray: 0, 100;
    transition: stroke-dasharray 1s;
}

.circlecss {
    fill: none;
    stroke: #5bc459;
    stroke-width: 2.8;
    stroke-linecap: round;
    stroke-dasharray: 0, 100;
    transition: stroke-dasharray 1s;
}

.circlejs {
    fill: none;
    stroke: #ff9f00;
    stroke-width: 2.8;
    stroke-linecap: round;
    stroke-dasharray: 0, 100;
    transition: stroke-dasharray 1s;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.4em;
    text-anchor: middle;
}

.graphtwo {
    display: flex;
    margin-top: 20px;
    flex-flow: row nowrap;
}

.java {
    width: 33%;
    justify-content: space-around;
}

.circlejava {
    fill: none;
    stroke: #5bc459;
    stroke-width: 2.8;
    stroke-linecap: round;
    stroke-dasharray: 0, 100;
    transition: stroke-dasharray 1s;
}

.dsa {
    width: 33%;
    justify-content: space-around;
}

.circledsa {
    fill: none;
    stroke: #ff9f00;
    stroke-width: 2.8;
    stroke-linecap: round;
    stroke-dasharray: 0, 100;
    transition: stroke-dasharray 1s;
}

.react {
    width: 33%;
    justify-content: space-around;
}

.circlereact {
    fill: none;
    stroke: #dd6c09;
    stroke-width: 2.8;
    stroke-linecap: round;
    stroke-dasharray: 0, 100;
    transition: stroke-dasharray 1s;
}

.slides {

    display: none;
}

#card {
    width: 100%;
}

#funbtn {
    margin-left: 25%;
    width: 46%;
}

#tictactoe {
    margin-left: 25%;
    width: 50%;
}
.fiveparent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.five {
    margin-top: 50px;
    /* margin-left: 30%; */
    width: 50%;

    overflow: hidden;
    position: relative;
}

.five i{
    
    padding: 30px;
    font-size: 28px; 
    transition: 0.6s ease;

}

.five #angleleft { 
    position: absolute;
    left: 40px;
    top: 50%;
}
.five #angleright {
    position: absolute;
   right: 40px;
    top: 50%;
}

.five #angleleft:hover,
.five #angleright:hover {
    background-color: rgba(184, 177, 177, 0.8);
}

.slides h3 {
    color: #000000;
    font-size: 20px;
   
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 450px) {
    .slides h3 {
        font-size: 10px;
    }

    .five #angleleft{
        font-size: 18px;
        padding: 5px;
        left: 8px;
    }
    .five #angleright{
        font-size: 18px;
        padding: 5px;
        right: 8px;
    }
}

/* /////////////////////////////// */
.six {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #332f2f;
}

.six .detail {
    width: 1000px;

}

.six .detail h1 {
    padding-left: 20%;
    color: rgb(255, 255, 255);
}

.six .detail p {
    padding-left: 20%;
    color: rgb(255, 255, 255);
}

.six .detail i {
    padding-left: 20%;
    color: rgb(255, 255, 255);
}

.six .review {
    width: 50%;
}

.six .review .input {
    width: 200px;
    padding-left: 10%;
}

.review {
    display: flex;
    justify-content: space-between;
}

.input #text {
    background-color: #332f2f;
}

.input {

    position: relative;
}

.input #text {
    width: 100%;
    border: none;
    outline: none;
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-top: 40px;
    overflow: hidden;
}

.bottom-border::placeholder {
    color: #ffffff;
}

.input .submitbtn {
    background-color: white;
    color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 70px;
}

.review .logo {
    display: flex;
    width: 10%;
    justify-content: space-around;
    flex-direction: column;

}

@media (max-width: 550px) {
    .six {
        flex-wrap: wrap;
        padding-top: 40px;
    }

    .six .review .input {
        padding-left: 0px;
    }

    .six .detail h1 {
        padding-left: 5%;
        font-size: 25px;
        color: rgb(255, 255, 255);
    }

    .six .detail p {
        padding-left: 5%;
        color: rgb(255, 255, 255);
    }

    .six .detail i {
        padding-left: 5%;
        color: rgb(255, 255, 255);
    }

    .six .review {
        width: 90%;
    }
}